#cloud-config

write_files:
  - path: /run/user/pgbouncer.ini
    permissions: "0644"
    encoding: b64
    content: ${config}
  - path: /run/user/userlist.txt
    permissions: "0644"
    encoding: b64
    content: ${userlist}
  - path: /etc/docker/cloudsql-config.json
    content: |
      {
        "projects": ["${project_id}"],
        "instances": [{"instance": "${cloud_sql_instance_name}", "port": "${cloud_sql_proxy_port}"}]
      }
  - path: /etc/systemd/system/cloudsql-proxy.service
    permissions: "0644"
    owner: root
    content: |
      [Unit]
      Type=oneshot
      Description=Cloud SQL Proxy
      After=docker.service

      [Service]
      StandardOutput=/var/log/cloudsql-proxy.log
      StandardError=/var/log/cloudsql-proxy.log
      ExecStartPre=/usr/bin/docker network create cloudsql-pgbouncer
      ExecStart=/usr/bin/docker run --name cloudsql-proxy --detach --restart always \
        --network cloudsql-pgbouncer \
        -p ${cloud_sql_proxy_port}:${cloud_sql_proxy_port} \
        ${cloud_sql_proxy_image} ${cloud_sql_instance_name} --address 0.0.0.0
      ExecStop=/usr/bin/docker stop cloudsql-proxy
      ExecStopPost=/usr/bin/docker rm cloudsql-proxy
      RemainAfterExit=yes
      [Install]
      WantedBy=multi-user.target
  - path: /etc/systemd/system/pgbouncer.service
    permissions: "0644"
    owner: root
    content: |
      [Unit]
      Type=oneshot
      Description=Start PgBouncer
      After=docker.service
      After=cloudsql-proxy.service

      [Service]
      StandardOutput=/var/log/pgbouncer.log
      StandardError=/var/log/pgbouncer.log
      ExecStart=/usr/bin/docker run \
        --name pgbouncer \
        --restart always \
        --detach \
        --network cloudsql-pgbouncer \
        -p ${listen_port}:${listen_port} \
        -v /run/user/userlist.txt:/etc/pgbouncer/userlist.txt:ro \
        -v /run/user/pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini:ro \
        ${image}
      ExecStop=/usr/bin/docker stop pgbouncer
      ExecStopPost=/usr/bin/docker rm pgbouncer
      RemainAfterExit=yes
      [Install]
      WantedBy=multi-user.target
runcmd:
  - systemctl daemon-reload
  - systemctl enable cloudsql-proxy.service
  - systemctl enable pgbouncer.service
  - systemctl start cloudsql-proxy.service
  - systemctl start pgbouncer.service
  
