#cloud-config

write_files:
  - path: /run/user/start_all_services.sh
    permissions: "0755"
    encoding: b64
    content: ${start_all_services}
  - path: /run/user/stop_all_services.sh
    permissions: "0755"
    encoding: b64
    content: ${stop_all_services}
  - path: /run/user/configure-hammerdb.sh
    permissions: "0755"
    encoding: b64
    content: ${configure_hammerdb}
  - path: /run/user/configure-hammerdb.tcl
    permissions: "0644"
    encoding: b64
    content: ${configure_hammerdb_tcl}
  - path: /run/user/run_workload.sh
    permissions: "0755"
    encoding: b64
    content: ${run_workload}
  - path: /run/user/run_workload.tcl
    permissions: "0644"
    encoding: b64
    content: ${run_workload_tcl}
  - path: /run/user/pgbouncer.ini
    permissions: "0644"
    encoding: b64
    content: ${config}
  - path: /run/user/userlist.txt
    permissions: "0644"
    encoding: b64
    content: ${userlist}
  - path: /etc/systemd/system/demo.service
    permissions: "0644"
    owner: root
    content: |
      [Unit]
      Description=Demo
      After=docker.service
      Requires=docker.service
      [Service]
      Type=simple
      ExecStart=/run/user/start_all_services.sh
      ExecStop=/run/user/stop_all_services.sh
      RemainAfterExit=yes
      [Install]
      WantedBy=multi-user.target
runcmd:
  - systemctl daemon-reload
  - systemctl enable demo.service
  - systemctl start demo.service

  
