#cloud-config

write_files:
  # Install Docker compose
  - path: /install-docker-compose.sh
    permissions: "0755"
    encoding: b64
    content: |
      #!/bin/bash
      set -e
      curl -L "https://github.com/docker/compose/releases/download/v2.17.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/bin/docker-compose
      chmod +x /usr/bin/docker-compose
  - path: /run/user/pgbouncer.ini
    permissions: "0644"
    encoding: b64
    content: ${config}
  - path: /run/user/userlist.txt
    permissions: "0644"
    encoding: b64
    content: ${userlist}
  - path: /etc/docker/cloudsql-config.json
    content: |
      {
        "projects": ["${project_id}"],
        "instances": [{"instance": "${cloud_sql_instance_name}", "port": "${cloud_sql_proxy_port}"}]
      }
  - path: /docker-compose.yml
    permissions: "0644"
    owner: root
    content: |
      version: '3'
      services:
        cloudsql-proxy:
          image: ${cloud_sql_proxy_image}
          command: /cloud-sql-proxy --address 0.0.0.0 --port 5432  ${cloud_sql_instance_name}
          restart: always
          networks:
            - cloudsql-pgbouncer
          ports:
            - "${cloud_sql_proxy_port}:${cloud_sql_proxy_port}"
          volumes:
            - /etc/docker/cloudsql-config.json:/etc/cloudsql/config.json
          depends_on:
            - pgbouncer
        pgbouncer:
          image: ${image}
          restart: always
          networks:
            - cloudsql-pgbouncer
          ports:
            - "${listen_port}:${listen_port}"
          volumes:
            - /run/user/userlist.txt:/etc/pgbouncer/userlist.txt:ro
            - /run/user/pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini:ro
      networks:
        cloudsql-pgbouncer:

runcmd:
  - sh /install-docker-compose.sh
  - docker-compose -f /docker-compose.yml up -d
