#cloud-config

write_files:
  - path: /run/user/pgbouncer.ini
    permissions: "0644"
    encoding: b64
    content: ${config}
  - path: /run/user/userlist.txt
    permissions: "0644"
    encoding: b64
    content: ${userlist}
  - path: /etc/docker/cloudsql-config.json
    content: |
      {
        "projects": ["${project_id}"],
        "instances": [{"instance": "${cloud_sql_instance_name}", "port": "${cloud_sql_proxy_port}"}]
      }
  - path: /etc/systemd/system/cloudsql-proxy.service
    content: |
      [Unit]
      Description=Cloud SQL Proxy
      After=docker.service
      Requires=docker.service
      [Service]
      ExecStartPre=/usr/bin/docker pull gcr.io/cloudsql-docker/gce-proxy:1.24.0
      ExecStart=/usr/bin/docker run --name cloudsql-proxy --privileged --network=host --detach gcr.io/cloudsql-docker/gce-proxy:1.24.0 /cloud_sql_proxy \
        -instances=${project_id}:${region}:${cloud_sql_instance_name}=tcp:${cloud_sql_proxy_port} 
       # -credential_file=/etc/cloudsql/key.json
      ExecStop=/usr/bin/docker stop cloudsql-proxy
      [Install]
      WantedBy=multi-user.target
  - path: /etc/systemd/system/pgbouncer.service
    permissions: "0644"
    owner: root
    content: |
      [Unit]
      Description=Start PgBouncer

      [Service]
      StandardOutput=file:/var/log/pgbouncer.log
      StandardError=file:/var/log/pgbouncer.log
      ExecStart=/usr/bin/docker run \
        --name pgbouncer \
        --restart always \
        -p ${listen_port}:${listen_port} \
        -v /run/user/userlist.txt:/etc/pgbouncer/userlist.txt:ro \
        -v /run/user/pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini:ro \
        ${image}
      ExecStop=/usr/bin/docker stop pgbouncer
      ExecStopPost=/usr/bin/docker rm pgbouncer
runcmd:
  - systemctl daemon-reload
  - systemctl enable cloudsql-proxy
  - systemctl start cloudsql-proxy
  - systemctl start pgbouncer
  - systemctl enable pgbouncer
  
