#!/bin/tclsh
puts "SETTING CONFIGURATION"
global complete
proc wait_to_complete {} {
global complete
set complete [vucomplete]
if {!$complete} { after 5000 wait_to_complete } else { exit }
}
dbset db pg
diset connection pg_host ${pgbouncer_host}
diset connection pg_port ${pgbouncer_port}
diset tpcc pg_dbase postgres
diset tpcc pg_dbase test
diset tpcc pg_superuser postgres
diset tpcc pg_superuserpass admin@123
diset tpcc pg_user postgres
diset tpcc pg_pass admin@123
wait_to_complete
